
%body
  = csrf_meta_tags
  -# %script(src="./funciones.js")
  -# %script(src="./funciones.js", type="text/javascript")
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
  %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
  -# %script{:src => "../javascripts/cable.js", :type => "text/javascript"}


  .row
    .col-sm-2
      .sidebar-nav
        .navbar.navbar-default{:role => "navigation"}
          .navbar-header
            %button.navbar-toggle{"data-target" => ".sidebar-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %span.visible-xs.navbar-brand Sidebar menu
          .navbar-collapse.collapse.sidebar-navbar-collapse
            %ul.nav.navbar-nav
              %h4
                %li
                .glyphicon.glyphicon-thumbs-up
                  = link_to 'bullying                      0', wellcome_index_path(:key => '0')
                %br/
                %br/
                %li
                .glyphicon.glyphicon-thumbs-up
                  = link_to 'bullying                      1', wellcome_index_path(:key => '1')
                %br/
                %br/
                %li
                .glyphicon.glyphicon-thumbs-up
                  = link_to 'bullying                      2', wellcome_index_path(:key => '2')
                %br/
                %br/
                %li
                .glyphicon.glyphicon-thumbs-up
                  = link_to 'bullying                      3', wellcome_index_path(:key => '3')
                %br/
                %br/
                %li
                .glyphicon.glyphicon-thumbs-up
                  = link_to 'bullying                      4', wellcome_index_path(:key => '4')
                %br/
                %br/
                %li
                .glyphicon.glyphicon-thumbs-up
                  = link_to 'bullying                      5', wellcome_index_path(:key => '5')
                %br/
                %br/
                %li
                .glyphicon.glyphicon-thumbs-up
                  = link_to 'bullying                      6', wellcome_index_path(:key => '6')
                %br/
                %br/
                %li
                .glyphicon.glyphicon-thumbs-up
                  = link_to 'bullying                      7', wellcome_index_path(:key => '7')
                %br/
                %br/
                %li
                .glyphicon.glyphicon-thumbs-up
                  = link_to 'bullying                      8', wellcome_index_path(:key => '8')
                %br/
                %br/
                %li
                .glyphicon.glyphicon-thumbs-up
                  = link_to 'bullying                      9', wellcome_index_path(:key => '9')
                %br/
                %br/
                %li
                .glyphicon.glyphicon-thumbs-up
                  = link_to 'bullying                      10', wellcome_index_path(:key => '10')
                %br/
                %br/
                %li
                .glyphicon.glyphicon-thumbs-up
                  = link_to 'bullying                      11', wellcome_index_path(:key => '11')
                %br/
                %br/
                %li
                .glyphicon.glyphicon-thumbs-up
                  = link_to 'bullying                      12', wellcome_index_path(:key => '12')
                %br/
                %br/
                %li
                .glyphicon.glyphicon-thumbs-up
                  = link_to 'bullying                      13', wellcome_index_path(:key => '13')
                %br/


            / /.nav-collapse

    .col-xs-10
      %h2
        %h1
          = @profiles[@variable.to_i].bullyp
      - @var = 0
      - @var = @var.to_i
      - @variable = @variable.to_i
      - @variable1 = @variable1.to_i
      - @profiles.order(:id).each do |profile|
        - puts "var=========== #{@var} var   #{@variable} var1 #{@variable1}"
        -  if (@variable == @variable1 && (@variable1 == @var ))  then
          - puts "ES EL ELSE #{@var} var   #{@variable} var1 #{@variable1}"
          .imagen2
            .imagen1
              -# %button{:id => "pruebalol", :class => "botonimagen", :onClick => "hola()"}
              -# - link_to '#', :class => "botonimagen", :onClick => "hola()"
              %a.btn.botonimagen1{:href => wellcome_index_path(:key1 => @var.to_i, :key => @variable)}
            .imagen3
              %h3
                = profile.name
        -  if (@variable == @variable1 && (@variable1 != @var ))  then
          - puts "ES EL ELSE #{@var} var   #{@variable} var1 #{@variable1}"
          .imagen2
            .imagen1
              -# %button{:id => "pruebalol", :class => "botonimagen", :onClick => "hola()"}
              -# - link_to '#', :class => "botonimagen", :onClick => "hola()"
              %a.btn.botonimagen{:href => wellcome_index_path(:key1 => @var.to_i, :key => @variable)}
            .imagen3
              %h3
                = profile.name
        -  if (@variable != @variable1 && (@variable1 == @var ))  then
          - puts "ES EL IF #{@var} var   #{@variable} var1 #{@variable1}"
          .imagen2
            .imagen1
              -# %button{:id => "pruebalol", :class => "botonimagen", :onClick => "hola()"}
              -# - link_to '#', :class => "botonimagen", :onClick => "hola()"
              -# %button{:id => profile.id, :class => "botonimagen", :onClick => "hola(#{profile.id});"}
              -# %a.btn.botonimagen{:href => wellcome_index_path(:key => '13')}
              %a.btn.botonimagen2{:href => wellcome_index_path(:key1 => @var.to_i, :key => @variable)}
                -#   = link_to '            ', wellcome_index_path(:key => '1000'), :class => "botonimagen"
            .imagen3
              %h3
                = profile.name
        -  if (@variable != @variable1 && (@variable1 != @var ))  then
          - puts "ES EL IF #{@var} var   #{@variable} var1 #{@variable1}"
          .imagen2
            .imagen1
              -# %button{:id => "pruebalol", :class => "botonimagen", :onClick => "hola()"}
              -# - link_to '#', :class => "botonimagen", :onClick => "hola()"
              -# %button{:id => profile.id, :class => "botonimagen", :onClick => "hola(#{profile.id});"}
              -# %a.btn.botonimagen{:href => wellcome_index_path(:key => '13')}
              %a.btn.botonimagen{:href => wellcome_index_path(:key1 => @var.to_i, :key => @variable)}
                -#   = link_to '            ', wellcome_index_path(:key => '1000'), :class => "botonimagen"
            .imagen3
              %h3
                = profile.name
        - @var = @var + 1
  
  -# .right
-# .bottom
-# .left
-# .rotate.top
-# .rotate.right
-# .rotate.bottom
-# .rotate.left
